/*header style*/
.header-wraper {
	background: lightblue;
	padding: 24px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.logo {
	display: inline-block;
	margin-right: 30px;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
}


.size {
	margin-right: 20px;

}

.block {
	display: inline-block;
	width: 320px;
	background: yellow;

}
.right-block {
	display: inline-block;
	width: 230px;
	vertical-aling:top ;


}
.left-block {
	display: inline-block;
	width: 760px;
	vertical-align: top;
}
.container2 {
	width: 1184px;
	margin: 0 auto;

}
p {
	width: 280px;
}
.images {
	width: 320px;
}